{% extends "base.html" %}
{% load static %}
{% block body_block %}


<div class="row">
    <div class="col-12 col-md-6 text-center">
        <h1 style="color: #8a100b; margin-top: 100px;">Book Bargains</h1>
        <img src="{% static 'bb.png'%}">
        <h3>Join a community of college students <br>exchanging books at discounted prices</h3>
        <p style="height:100px;">   </p>
    </div>
    <div class="col-12 col-md-6 text-center" style="background-color: #ebcea5;">
      <h3 style="margin-top:130px;">Welcome to the <strong>best</strong> university<br>book exchange community!</h3>
      <h4 class="my-0">Are you...</h4>
      <button class="btn mx-auto mt-3" style="color: #ffffff; background-color: #8a100b;">Buying</button>
      <h6 class="mt-2 mb-0">Get books at discounted prices</h6>
      <br>
      <button class="btn mx-auto mt-3" style="color: #ffffff; background-color: #8a100b;">Selling</button>
      <h6 class="mt-2 mb-0">Sell unwanted books with ease</h6>
      <br>
      
      <span>
        <button class="btn mx-auto mt-3" style="color: #ffffff; background-color: #8a100b;">Log In</button>
        <button class="btn mx-auto mt-3" style="color: #ffffff; background-color: #8a100b;">Create Account</button>
      </span>
    </div>
</div>


{% endblock %}