{% extends "base.html" %}
{% load static %}
{% block body_block %}
<h1>Search Results</h1>

<form action="{% url 'searchresults' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>



  {% for Book in object_list %}
      <pre class="tab">      </pre>
      <table style="width:400px; height: 200px; border:1px solid black">
          <tr>
            <td colspan="2" style="text-align:center" >
              <a style="color: #000000" href = 'buyList'>{{Book.title}}</a>
            </td>
          </tr>
          <tr>
            <td>Author:</td>
            <td>{{Book.author}}</td>
          </tr>
          <tr>
              <td>ISBN:</td>
              <td>{{Book.ISBN13}}</td>
          </tr>
          <tr>
              <td>Edition:</td>
              <td>{{Book.edition}}</td>
          </tr>
          <tr>
              <td>Condition:</td>
              <td>{{Book.condition}}</td>
              </tr>
      </table>
  {% endfor %}




{% endblock %}
