{% extends "base.html" %}
{% load static %}
{% block body_block %}
<h1>Search Results</h1>

<center>
<form action="{% url 'searchresults' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
<center>

<center>
<div class="row">

  {% for Book in object_list %}
  <div class="pt-4 col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class=“w-100" style="height:286px;width:286px;" src="{{Book.image.url}}" alt="img" >
      <div class="card-body">
        <h5 class="card-title">{{Book.title}}</h5>
        <p class="card-text">Field: {{Book.get_field_display}} </p>
        <p class="card-text">Author: {{Book.author}} </p>
        <p class="card-text">ISBN: {{Book.ISBN13}} </p>

        <a href="messaging" class="btn btn-primary">Message seller</a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
<center>

{% endblock %}
