{% extends "base.html" %}
{% load static %}
{% block body_block %}

<div class="row">
    <div class="col-3 text-center">
      1 of 3
        <div class="thumbnails1">
            <img src="../static/bb.png" alt="..." class="img-thumbnail" width="200px" height="300px">
        </div>
        
        <>
        <br>
        <button class="btn mx-auto mt-3" style="color: #ffffff; background-color: #8a100b;">Upload Images</button>
        <br>

    </div>
    <div class="container mt-5">
        <form method="post" class="w-75 m-auto">
            {% csrf_token %}
            {% for field in ListBookForm %}
              <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit">Create Listing</button>
          </form>
      </div>

    </div>
    <div class="col text-center">
      3 of 3
        <div class="btn_group1">
            <br>
            <button class="btn mx-auto mt-3" style="color: #ffffff; background-color: #8a100b;">List</button>
            <br>
            <button class="btn mx-auto mt-3" style="color: #ffffff; background-color: #ebcea5;">Save as Draft</button>

        </div>

    </div>

    </div>
  </div>



{% endblock %}