{% extends "base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
<h3 class="text-left mt-4">Please fill out the following fields to list a book.</h3>
<div class="row">
    <div class="col-2 text-center">
        <div class="thumbnails1 mt-5">
            <img src="../static/bb.png" alt="..." class="img-thumbnail" width="200px" height="300px">
        </div>
        <br>
        <button class="btn mx-auto mt-3" style="color: #ffffff; background-color: #8a100b;">Upload Images</button>
        <br>

    </div>
    <div class="col-7 container mt-5" style="margin-bottom: 100px;">
        <form method="post" class="w-75 m-auto">
            {% csrf_token %}
            {% for field in ListBookForm %}
              <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
          <button type="submit" class="btn mx-auto mt-3" style="color: #fff; background-color: #8a100b;">List</button>
          <button class="btn mx-auto mt-3" style="color: #000000; background-color: #ebcea5;">Save as Draft</button>
          </form>
    </div>
    <div class="col-3">
        <div class="btn_group1 mt-5">
        </div>
    </div>
    </form>
</div>
</div>



{% endblock %}