{% extends "base.html" %}
{% block body_block %}

    <section id="inside" class="pb-3 pt-0 pb-lg-5">
        <div class="jumbotron text-center py-3 mt-0 mb-0" style="background-color:transparent; border-radius:0px">
            <h3 class="display-5 mt-4" style="color:#8a100b;">Welcome to BOOK BARGAINS!</h3>
            <h6 style="color:#8a100b;">Please fill out the following form to create a Book Bargains account!</h6>
        </div>
        <div class="container">
            <div class="mt-1 justify-content-center" id="signup">
                <form>
                    <h4 class="text-md-left text-center">Personal Information</h4>
                    <p class="text-muted small text-md-left text-center">Fields marked with * are required.</p>
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <label for="firstname">First Name*</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                                </div>
                                <input id="firstname" type="text" class="form-control" placeholder="First name" required>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label for="lastname">Last Name*</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                                </div>
                                <input id="lastname" type="text" class="form-control" placeholder="Last name" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="email">Email*</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-at"></i></div>
                                </div>
                                <input id="email" type="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="phone">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-phone"></i></div>
                                </div>
                                <input id="phone" type="tel" class="form-control" placeholder="Phone number" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <label for="password">Password*</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-key"></i></div>
                                </div>
                                <input id="password" type="password" class="form-control" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label for="passwordsecond">Re-enter password*</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-key"></i></div>
                                </div>
                                <input id="passwordsecond" type="password" class="form-control" placeholder="Re-enter password" required>
                            </div>
                            <div class="valid-feedback">
                                Make sure passwords match!
                            </div>
                        </div>
                    </div>
                    <h4 class="mt-5 mb-2 text-md-left text-center">Academic Information</h4>
                    <div class="form-row">
                        <div class="col-12 col-lg-6 my-1">
                            <label class="" for="majors">Major</label>
                            <select class="custom-select" id="majors">
                            <option selected>Choose...</option>
                            <option value="biology">Biology</option>
                            <option value="2">Computer Science</option>
                            <option value="3">Management</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-6 my-1">
                            <label class="" for="majors">Second Major (if applicable)</label>
                            <select class="custom-select" id="majors">
                            <option selected>Choose...</option>
                            <option value="biology">Biology</option>
                            <option value="2">Computer Science</option>
                            <option value="3">Management</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 my-1">
                            <label class="" for="courses">Courses</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-book"></i></div>
                                </div>
                                <input multiple id="course" type="text" class="form-control" placeholder="DEPT0000 Ex. CSCI3383">
                            </div>
                            <small id="coursehelpblock" class="form-text text-muted text-md-left text-center">
                                Add multiple courses, separating each by a comma. Example: CSCI3382, THEO1102, CHEM2832
                            </small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6 my-1">
                            <label class="" for="housing">Housing Location</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-home"></i></div>
                                </div>
                                <input id="housing" type="text" class="form-control" placeholder="Dorm, Street, Area">
                            </div>
                        </div>
                        <div class="col-3" style="margin-top:2.7rem!important;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="checkoncampus" value="oncampus">
                                <label class="form-check-label" for="checkoncampus">On Campus</label>
                            </div>
                        </div>
                        <div class="col-3 my-auto" style="margin-top:2.7rem!important;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="checkoffcampus" value="offcampus">
                                <label class="form-check-label" for="checkoffcampus">Off Campus</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-4">
                        <div class="col-12 text-center">
                            <button class="btn" type="submit" style="background-color: #8a100b; color: #ffffff;">Create Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
